# Week 2 Notebook 1 Overview

## Collections

This week we will start by exploring three types of collection structures in Python:
1. Lists
2. Tuples
3. Sets

## Lists

We have been creating variables to store one value at a time. However, we usually have collections of data to manipulate and explore. One of the data types that we can use to store a collection is a list.

We can create lists to store data of the same type, or of different types.
Here are three examples.

In [44]:
# A list of names
names = ["Mary", "Ali", "Ying"]

# A list of numbers
numbers = [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

# A list with mixed types
mixed_list = ['one', 2, 3, 5, True]

Let's check the type of each of `names`

In [ ]:
type(names)

list

To view the contents of the list, you can just type the name of the variable, or use the `print()` function:

In [ ]:
names

['Mary', 'Ali', 'Ying']

In [ ]:
print(numbers)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

You can also access each element of the list, using its index, which are numbered starting from 0.

In [ ]:
print('The name that appears first is ' + names[0])

The name that appears first is Mary

As you can see, the first element is at index 0.

This means for the list called `names`, the indices are from 0 up to 2. What happens if you enter a number that is more than 2?

In [ ]:
# Try entering a different value for the index
print(names[1])
print(names[3])

Ali

IndexError: ignored

As you can see, you will get an out of range error if you try to use a number for the index that exceeds the length of the list.

To check the length of a list, you can use the `len()` function

The index will be a value between 0 and (length - 1)

In [ ]:
len(names)

3

An easy way to get the last element of the list though is to use -1 as the index:

In [ ]:
# get the last element of the names list
print(names[-1])

# get the second last element of the numbers list
print(numbers[-2])

Ying
109

To get a *slice*, or part, of a list, you can use slice operator, `[:]`

The syntax for a slice is \[ *start* : *stop* : *step* \], where *start* means the index that you want to start at, *stop* is the index to slice up to, and *step* indicates the steps to increment by.

For example, remember that the list of numbers consisted of the numbers 1 to 10.

In [ ]:
# print the list
print(numbers)
print("The indices are from 0 up to " + str(len(numbers)-1))

# print the slice from index 1 up to (but not including 7), step by 1
print(numbers[1:7:1])

# print the slice from index 1 up to (but not including 7), step by 2
print(numbers[1:7:2])

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110]
The indices are from 0 up to 10
[101, 102, 103, 104, 105, 106]
[101, 103, 105]

You can use default values for *start*, *stop* and *end* by not specifying them:

In [ ]:
# print the numbers from 2 to 5, default step by 1
print(numbers[2:5])

# start from default of 0, stop at 5 and step by 2
print(numbers[:5:2])

# start from 1, stop at the end, step by 3
print(numbers[1::3])

# start from 0, stop at the end, step by 3
print(numbers[::3])

[102, 103, 104]
[100, 102, 104]
[101, 104, 107, 110]
[100, 103, 106, 109]

You can also *iterate* through the list, which means to access the element one at a time, using a for loop.

For example, we want to go through the elements in the `numbers` list and multiply each element by 2.

In [ ]:
# using a for loop to iterate through the list called 'numbers'
for num in numbers:
    print(num * 2)

### Properties of Lists

Lists in Python have the following properties
- The order of elements is important
- There can be duplicate elements
- The elements in a list can be changed
- The list can be resized, that means it can grow or shrink as elements are added or removed.

We have seen that the position of the elements allows us to access each element using an index.

Let's see how we can add or remove elements.

### Adding elements

We can add elements to a list:
- by appending the element to the end of the list
- or inserting an element before an existing element

Run the following examples:

In [ ]:
# adding a name to the end of the list
names.append("Raj")
print("append means to add to the end of the list")
print(names)

# inserting at index 1
names.insert(1, "Joe")
print("\nor you can insert, for example at index 1")
print(names)

append means to add to the end of the list
['Mary', 'Ali', 'Ying', 'Raj']

or you can insert, for example at index 1
['Mary', 'Joe', 'Ali', 'Ying', 'Raj']

You can also replace elements the list by specifying the index at which you want to change to a new element.

In [ ]:
print("original list")
print(names)

# swap the element at index 1
names[1] = "Hari"
print('\n replaced list')
print(names)

original list
['Mary', 'Joe', 'Ali', 'Ying', 'Raj']

 replaced list
['Mary', 'Hari', 'Ali', 'Ying', 'Raj']

We can also remove elements from the list, using the `remove()` or `pop()` functions:

In [45]:
# remove() function removes the element specified, if it is in the list
names.remove("Ali")

print("After removing Ali")
print(names)

# pop() function removes the last element from the list.
names.pop()
print("\nAfter using pop()")
print(names)

# clear() function removes all elements
names.clear()
print("\nAfter using clear()")
print(names)

After removing Ali
['Mary', 'Ying']

After using pop()
['Mary']

After using clear()
[]

## Tuples

Another type of collection object is a tuple. A tuple is similar to list, except it cannot be changed, so we would say
- a list is a collection of ordered elements that is **mutable**
- a tuple is a collection of ordered element that is **immutable**

Let's see what it means to be immutable.

A tuple is created using parentheses.

In [52]:
# creating a tuple of names, using parentheses
names_tuple = ("Mary", "Ali", "Ying")

# check the type of names
type(names_tuple)

tuple

You can access the elements of the tuple the same way as a list, using the index and slicing:

In [53]:
# get the first element
print(names_tuple[0])

# get a slice
print(names_tuple[1:3])

# get the last element
print(names_tuple[-1])

Mary
('Ali', 'Ying')
Ying

However, if you try to add or remove elements, you will get errors:

In [54]:
names_tuple.append("test")

AttributeError: ignored

To view what operations you can use with the tuple object, type the variable name and a dot (.), then press the TAB key.

In [55]:
# position your cursor after the dot and press the TAB key
names_tuple.

# try it with the list, names
names.

SyntaxError: ignored

You can see that for the tuple object, there are only two functions, `count()` and `index()`, and the operations for adding and removing elements from lists are not available for the tuple.

So why would we create tuples?

If we wanted a list of elements that would not be changed, a tuple is useful. This could be used to define categories in our data, for example, we could create a tuple to record the days of the week:

In [56]:
days = ('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

for d in days:
    print(d)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

## Sets

The third type of collection we will consider in this lesson is a set.

Properties of sets are:
- order doesn't matter
- and duplicates are not allowed
- elements can be added and removed

A set is created using curly braces, {}.

Let's say we want to record the menuitems available in a restaurant.

In [65]:
# a set of menuitems, note the curly braces
menuitems = {'noodles', 'bread', 'rice'}

# check the type
type(menuitems)

set

You can modify a set by adding and removing items:

In [66]:
# add an item to the set
menuitems.add('banana')
print('After adding banana')
print(menuitems)

# remove an item from the set, if it exists
menuitems.remove('rice')
print('\nAfter removing rice')
print(menuitems)

# add another banana
menuitems.add('banana')
print('\nAfter adding another banana')
print(menuitems)

After adding banana
{'noodles', 'rice', 'banana', 'bread'}

After removing rice
{'noodles', 'banana', 'bread'}

After adding another banana
{'noodles', 'banana', 'bread'}

You can see that adding a duplicate item does not change the set.

You can also perform set operations, such as intersect and union.

In [67]:
# create another set
fruit = {'banana', 'orange', 'apple'}

# list all the items using a for loop
print("fruit set contains:")
for f in fruit:
    print(f)

# find the intersection
print("\nResult of intersection with menuitems")
print(menuitems.intersection(fruit))

# find the union
print("\nResult of union with menuitems")
print(menuitems.union(fruit))

fruit set contains:
banana
orange
apple

Result of intersection with menuitems
{'banana'}

Result of union with menuitems
{'noodles', 'apple', 'orange', 'banana', 'bread'}

## Wrap-up

In this notebook we have covered three types of collections
1. lists, which are created using square brackets
    * the elements are ordered by index
    * the list is mutable: elements can be replaced, added or removed
    * elements with duplicate values are allowed
2. tuples, which are created using parentheses
    * the elements are ordered by index
    * the tuple is immutable, which means it cannot be changed once created
    * elements with duplicate values are allowed
3. sets, which are created using curly braces
    * the elements are not ordered
    * duplicate elements are not allowed
    * elements can be added or removed

## Exercises

Create the list in the cell below:

In [69]:
languages = ["Java", "Python", "C++", "Kotlin"]
print(languages)

['Java', 'Python', 'C++', 'Kotlin']

Q1. Print the second element in the list using its index.

In [70]:
# Q1 answer
print( 'Ini adalah ilement / urutan ke2 dari list '+ languages[1])

Ini adalah ilement / urutan ke2 dari list Python

Q2. Print the last element in the list.

In [71]:
# Q2 answer
print( 'Ini adalah element / urutan terakhir dari list '+ languages[-1])

Ini adalah element / urutan terakhir dari list Kotlin

Q3. Using slicing, print the elements "Java" and "C++"

In [72]:
# Q3 answer
print( 'Ini adalah element java sampe c++', languages[:3])

Ini adalah element java sampe c++ ['Java', 'Python', 'C++']

Q4. Add the language "R" in the list so that it appears *before* "Python"

In [73]:
# Q4 answer
languages.insert(2, "R")
print (languages)

['Java', 'Python', 'R', 'C++', 'Kotlin']

Q5. Remove the last element in the list.

In [74]:
# Q5 answer
languages.pop()
print(languages)

['Java', 'Python', 'R', 'C++']

Q6. Change the list to a tuple and run the cells for the rest of the commands that you have written. Which ones can execute without errors?

In [75]:
# Q6 - change the list to a tuple
ltupel = tuple(languages)
print(ltupel)
print( 'Ini adalah element / urutan terakhir dari list '+ ltupel[-1])
print( 'Ini adalah element java sampe c++', ltupel[:3])
languages.insert(2, "R")
print (" add atau menambah ", ltupel)
languages.pop()
print("menghapus", ltupel)

('Java', 'Python', 'R', 'C++')
Ini adalah element / urutan terakhir dari list C++
Ini adalah element java sampe c++ ('Java', 'Python', 'R')
 add atau menambah  ('Java', 'Python', 'R', 'C++')
menghapus ('Java', 'Python', 'R', 'C++')

In [ ]:
# Answer tambahan 6
# jadi untuk hapus dan menambah tidak dapat di ubah

Q7. Change the list of a set and run the commands for the rest of the commands that you have written. Which ones can execute without errors?

In [78]:
# Q7 - change the list to a set
lset = set(languages)
print(lset)
print( 'Ini adalah element / urutan terakhir dari list '+ lset[-1])
print( 'Ini adalah element java sampe c++', lset[:3])
languages.insert(2, "R")
print (" add atau menambah ", lset)
languages.pop()
print("menghapus", lset)

{'Python', 'R', 'Java'}

TypeError: ignored

In [ ]:
# 7 answer, Semuanya salah